.homeScreen{
    border: 3px solid black;
    display: flex;
    width: 294px;
    height: 238px;;
    background-color: white;
    border-radius: 5%;
    overflow: hidden;
    background-image: url("./Images/background.jpg");

}