.musicScreen{
    height: 100%;
    width: 100%;
    background-color: rgb(18, 5, 77);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
}

.musicImage{
    /* border: 1px solid white; */
    height: 40%;
    width: 40%;
    margin-top: 45px;
}

