.slider-container{
    --progress-bar-height: 4px;
    --thumb-width: 20px;
    --thumb-height: 20px;
    position: relative;
    width: 90%;
}

.range{
    -webkit-appearance: none;
    background-color: rgba(8, 80, 216, 0.644);
    border-radius: 10px;
    height: 10px;
    border: 5px;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    margin: 0 auto;
}

.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: var(--thumb-width);
    height: var(--thumb-height);
    background: #ee06bc;
    border-radius: 50%;
    cursor: pointer;

}

.slider-container::before{
    content: '';
    background-color: white;
    width: 99%;
    height: var(--progress-bar-height);
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 1;
}

.thumb{
    width: var(--thumb-width);
    height: var(--thumb-height);
    background: white;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    pointer-events: none;
    user-select: none;
}

.progress-bar-cover{
    background-color: rgb(218, 55, 145);
    width: 100%;
    height: var(--progress-bar-height);
    display: block;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
}