.HomeContainer{
    /* border: 1px solid black; */
    width: 300px;
    height: 240px;
}

.screen{
    border: 3px solid black;
    display: flex;
    height: 97%;
    background-color: white;
    border-radius: 5%;
    overflow: hidden;
}

.screenWall{
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
}

.screenWall  img{
    height: 100%;
    width: 100%;
}