

.wheelContainer{
    margin: auto;
}

/* .wheelBackground{
    height: 210px;
    width: 300px; 
    background-color: #b9b9b9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.wheelMenu{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.wheelForeground{
    position: absolute;
    background-color: #b9b9b9;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.menuSpan{
    position: absolute;
    top: 22px;
    font-weight: bold;
}

.forward{
    position: absolute;
    height: 25px;
    width: 25px;
    right: 15px;
}

.backward{
    position: absolute;
    height: 25px;
    width: 25px;
    left: 15px;
}

.playPause{
    position: absolute;
    height: 25px;
    width: 25px;
    bottom: 15px;
}